*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid whitesmoke;
    margin: auto;
    margin-top: 50px;
}

/* Forgot Password? Form */
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: white;
}
.form img{
    width: 140px;
    margin-top: 70px;
    margin-right: 150px;
    margin-bottom: 25px;
}
.form h2{
    margin-right: 150px;
    font-size: 11.5px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 15px;
}
.form p{
    margin-right: 190px;
    font-size: 11.0px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.box{
    padding: 10px;
    width: 50%;
    margin: 12px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 0px;
}
.form input{
    margin: 10px;
    height: 25px;
    width:  40px;
    margin-top: 5px;
    border-radius: 1px;
    text-align: center;
    font-family: arimo;
    font-size: 1.1rem;
    background-color: white;
}
.form input{
    margin-right: 20px;
    margin-left: 5px;
}
.form .input-box{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.work p{
    margin-right: 100px;
    font-size: 12.0px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.form a{
    font-size: 10px;
    font-weight: bold ;
    margin-right: 50px;
    margin-left: 230px;
}
#done{
    width: 60%;
    margin: 0px auto;
    margin-bottom: 1rem;
    margin-top: 20px;
    height: 30px;
    background-color: black;
    color:yellow;
    font-weight: bold;
}

#done:hover{
    text-align: center;
}
/* Left Side */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: black;
}
.side img{
    margin-bottom: 120px;
    margin-right: 50px;
    margin-left: 100px;
    width: 500px;
    height: 300px;
}